
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Page/UserGroup.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="page-header" style="margin-top: -10px; margin-left: 2%">
            <h3>
                Manage User Groups
                <small>&nbsp;add/edit user groups</small>
            </h3>
        </div>

        <div id="form-domain" class="col-md-10 col-sm-10 col-xs-10">
            <form class="form-horizontal">

             
                <div class="row" style="margin-left: 1%">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <div style="margin-bottom: 10px" class="input-group">
                            <span class="input-group-addon">User Group Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input id="txtUserGroupName" type="text" class="form-control" style="width: 100%"
                                   placeholder="User Group Name" />

                            <span class="input-group-addon " id="spn-txtDomainName"></span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div id="dvSearchUserGroup">
                            <button type="button" id="btnSearchUserGroup" class="btn btn-md btn-info">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-left: 1%">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <div style="margin-bottom: 10px" class="input-group">
                            <span class="input-group-addon">User Group Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <textarea id="txtUserGroupDescription" type="text" class="form-control" style="width: 100%"
                                      placeholder="User Group Description"></textarea>

                            <span class="input-group-addon " id="spn-txtDomainDescription"></span>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-left: 3%">

                    <label class="col-sm-2 col-md-2 col-xs-2 control-label" style="text-align: left; margin-left: -2%">Is Active</label>
                    <div class="col-sm-1 col-md-1 col-xs-1" style="margin-left: -5%;">
                        <input id="chkIsUserGroupActive" type="checkbox" />
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <div style="float: right">
                            <button type="button" id="btnReset" class="btn btn-large btn-warning" style="margin-right: 10px">
                                Reset
                            </button>

                            <button type="button" id="btnSave" class="btn btn-large btn-primary">
                                Save
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div id="userGroupPopUpModal" class="modal">
        <div class="alert alert-info" role="alert">
            <b>Note:</b>Select a user group <b>from the grid</b> by <b>clicking on the relevant row</b>
        </div>
        <div class="row">

            <div class="col-md-11 col-sm-11 col-xs-11 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                <div style="height: 300px; overflow: auto;">
                    <table data-toggle="table" class="table table-striped table-hover" id="tblUserGroup">

                        <caption style="border: inherit; background-color: lightgrey; color: black">
                            <span class="align-left"><strong>User Groups</strong></span>
                        </caption>
                        <thead>
                            <tr>
                               
                                <th data-field="UserGroupName">Name</th>
                                <th data-field="UserGroupDescription">Description</th>
                                <th data-field="IsActive" class="hidecol"></th>
                                <th data-field="IsActive">Is Active</th>


                            </tr>
                        </thead>

                    </table>
                </div>

                <div style="float: right;margin-top:2%">
                    <button type="button" id="btnResetPopup" class="btn btn-md btn-default" style="margin-right: 10px">
                        Reset
                    </button>


                    <button type="button" id="btnChangeStatus" class="btn btn-md btn-primary">
                        Update Status
                    </button>
                    <button type="button" id="btnActiveAll" class="btn btn-md btn-info">
                        Active All
                    </button>
                    <button type="button" id="btnInactiveAll" class="btn btn-md btn-warning">
                        Inactive All
                    </button>
                </div>


            </div>

        </div>

    </div>
</div>

